swagger: '2.0'
info:
  version: '1.0'
  title: E-waybill Service APIs
host: 'dummy.ap-southeast-1.amazonaws.com'
schemes : [ "https" ]

paths:
  /dev/ewaybill/create:
    post:
      description: Generate EWBNs
      produces:
        - application/json
      parameters:
        - name: GenerateEWBNs
          in: body
          required: true
          schema:
            $ref: '#/definitions/GenerateEWBNs'
      tags:
        - Generate EWBNs
      responses:
        '200':
          description: successfully generated ewbns
          schema:
            $ref: '#/definitions/GenerateEWBNsResponse'
        '400':
          description: user Error
          schema:
            $ref: '#/definitions/GenerateEWBNsErrorResponse'
        '502':
          description: System Error
          schema:
            $ref: '#/definitions/GenerateEWBNsErrorResponse'

  /dev/ewaybill/validate:
    post:
      description: Validate EWBNs
      produces:
        - application/json
      parameters:
        - name: ValidateEWBNs
          in: body
          required: true
          schema:
            $ref: '#/definitions/ValidateEWBNs'
      tags:
        - Validate EWBNs
      
      responses:
        '200':
          description: Callback response on the callback url provided in the reques:successfully validated ewbns
          schema:
            $ref: '#/definitions/ValidateEWBNsResponse'
        '400':
          description: request response user Error
          schema:
            $ref: '#/definitions/ValidateEWBNsErrorResponse'
        '502':
          description: request response System Error
          schema:
            $ref: '#/definitions/ValidateEWBNsErrorResponse'

  /dev/ewaybill/vhupdate:
    post:
      description: Validate update on EWBNs
      produces:
        - application/json
      parameters:
        - name: VehicleUpdateEWBNs
          in: body
          required: true
          schema:
            $ref: '#/definitions/VehicleUpdateEWBNs'
      tags:
        - Vehicle Update
      responses:
        '200':
          description: successfully updated vehicles
          schema:
            $ref: '#/definitions/VehicleUpdateEWBNsResponse'
        '400':
          description: user Error
          schema:
            $ref: '#/definitions/VehicleUpdateEWBNsErrorResponse'
        '502':
          description: System Error
          schema:
            $ref: '#/definitions/VehicleUpdateEWBNsErrorResponse'
            
  /dev/ewaybill/ewaybillUpdate:
    post:
      description: Single-Bulk Ewaybill updation wrt Waybill
      produces:
        - application/json
      parameters:
        - name: Single Bulk Ewaybil Update
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateEWBNs'
      tags:
        - Update Ewaybills
      responses:
        '200':
          description: successfully updated ewaybills
          schema:
            $ref: '#/definitions/UpdateEWBNsResponse'
        '400':
          description: user Error
          schema:
            $ref: '#/definitions/UpdateEWBNsErrorResponse'
        '502':
          description: System Error
          schema:
            $ref: '#/definitions/UpdateEWBNsErrorResponse'
            
  /dev/ewaybill/bulkVhupdate:
    post:
      description: Vehcle update on EWBNs
      produces:
        - application/json
      parameters:
        - name: BulkVehicleUpdateEWBNs
          in: body
          required: true
          schema:
            $ref: '#/definitions/BulkVehicleUpdateEWBNs'
      tags:
        - Bulk Vehicle Update
      responses:
        '200':
          description: successfully updated vehicles
          schema:
            $ref: '#/definitions/BulkVehicleUpdateEWBNsResponse'
        '400':
          description: user Error
          schema:
            $ref: '#/definitions/BulkVehicleUpdateEWBNsErrorResponse'
        '502':
          description: System Error
          schema:
            $ref: '#/definitions/BulkVehicleUpdateEWBNsErrorResponse'
  /dev/ewaybill/update_transporterid:
    post:
      description: Update TransporterId EWBNs
      produces:
        - application/json
      parameters:
        - name: UpdateTransporterIdEWBNs
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateTransporterIdEWBNs'
      tags:
        - Update TransporterId EWBNs
      responses:
        '200':
          description: successfully updated transporterId ewbns
          schema:
            $ref: '#/definitions/UpdateTransporterIdEWBNsResponse'
        '400':
          description: user Error
          schema:
            $ref: '#/definitions/UpdateTransporterIdEWBNsErrorResponse'
        '502':
          description: System Error
          schema:
            $ref: '#/definitions/UpdateTransporterIdEWBNsErrorResponse'
            
  /dev/ewaybill/extend_validity:
    post:
      description: Every e-waybill has an expiry date and time assigned to it. This is provision to extend the expiry through below API.
      produces:
        - application/json
      parameters:
        - name: ExtendEWBNs
          in: body
          required: true
          schema:
            $ref: '#/definitions/ExtendEWBNs'
      tags:
        - Expiry Extend EWBNs
      responses:
        '200':
          description: successfully extended ewbns
          schema:
            $ref: '#/definitions/ExtendEWBNsResponse'
        '400':
          description: user Error
          schema:
            $ref: '#/definitions/ExtendEWBNsErrorResponse'
        '502':
          description: System Error
          schema:
            $ref: '#/definitions/ExtendEWBNsErrorResponse'


definitions:
  GenerateEWBNs:
    title: Generate EWBNs' payload
    type: object
    properties:
      sync:
        type: boolean
        description: Decides whether api will give response in sync/async
        example: false
      src:
        type: string
        description: source which is making the request
        example: HQ
      awb:
        type: string
        description: AWB number
        example: 1277316509156
      callback_url:
        type: string
        description: HTTP callback url
        example: https://dummyurl.com/api/p/save_created_ewbns/ 
      data:
        type: object
        description: Contains data which is to be sent for ewb generation.
        properties:
          consolidate:
             type: boolean
             description: Generate consolidated Ewaybill
             example: false
          modeOfTransport:
             type: string
             description: Mode of transport
             example: ROAD
          state:
             type: string
             description: state code
             example: DL
          transhipmentLocation:
             type: string
             description: Transhipment Location
             example: Mumbai
          itemList:
             type: array
             description: List of data corresponding to items.
             items:
               type: object
               properties:
                 hsnCode:
                   type: string
                   description: Hsn code of item
                   example: 9109
                 cessNonadvol:
                   type: string
                   description: Cess non advol value of item
                   example: 0
                 qtyUnit:
                   type: string
                   description: Unit of quantity
                   example: BOX
                 igstRate:
                   type: string
                   description: Igst rate per item
                   example: 18
                 sgstRate:
                   type: string
                   description: sgst rate per item
                   example: 9
                 productName:
                   type: string
                   description: Product name
                   example: Wheat
                 productDesc:
                   type: string
                   description: Product Description
                   example: Grains
                 taxableAmount:
                   type: integer
                   description: Taxable amount
                   example: 61000
                 cessRate:
                   type: string
                   description: cess rate per item
                   example: 0
                 cgstRate:
                   type: string
                   description: cgst rate per item
                   example: 9
                   
                   
                 quantity:
                   type: string
                   example: 1
                   
                   
          tripItems:
             type: array
             description: Contains list of data corresponding to ewbns which are going to generate
             items:
               type: object
               properties:
                 cessValue:
                    type: string
                    description: Cess amount
                    example: 240
                 cessNonAdvolValue:
                    type: string
                    description: Cess non advol
                    example: 20
                 docType:
                   type: string
                   description: Document Type
                   example: INV
                 fromTrdName:
                   type: string
                   description: Legal name of consignor
                   example: ICICI BANK
                 toPlace:
                   type: string
                   description: Place of consignee
                   example: Jaipur
                 subSupplyType:
                   type: integer
                   description: Sub types of supply
                   example: 2
                 fromStateCode:
                   type: string
                   description: State of consignor
                   example: false
                 fromPlace:
                   type: string
                   description: Place of consignor
                   example: Mumbai
                 totalValue:
                   type: string
                   description: Sum of taxable value and tax value
                   example: 2000
                 actFromStateCode:
                   type: string
                   description: State of supply
                   example: MAHARASHTRA
                 toStateCode:
                   type: string
                   description: State of supply
                   example: MAHARASHTRA
                 subSupplyDesc:
                   type: string
                   description: Sub supply description
                   example: Any description
                 totInvValue:
                   type: integer
                   description: Total Invoice Value (Including taxable value, tax value,and other charges if any)
                   example: 2
                 cgstValue:
                   type: string
                   description: Cgst amount
                   example: 0
                 distance:
                   type: integer
                   description: distance
                   example: 0
                 supplyType:
                   type: string
                   description: SUpply type
                   example: Inward/Outward
                 igstValue:
                   type: string
                   description: Igst amount
                   example: 240
                 sgstValue:
                   type: string
                   description: SGST amount
                   example: 240
                 fromGstin:
                   type: string
                   description: From GSTIN (Supplier or Consignor)
                   example: 29AAPCS9575WEZJ
                 transactionTypeGovt:
                   type: string
                   description: Type of transaction
                   example: 1/2/3/4
                 invoiceDt:
                   type: string
                   description: Invoice Date
                   example: 2019-03-13 18:02:10
                 qty:
                   type: string
                   description: Quantity
                   example: false
                 transactionType:
                   type: string
                   description: Decides whether api will give response in sync/async
                   example: false
                 unit:
                   type: string
                   description: Quantity Unit
                   example: NOS/BOX
                 awb:
                   type: string
                   description: AWB number
                   example: 1277316509156
                 billToState:
                   type: string
                   description: Bill to state 
                   example: DELHI
                 consignorAddr:
                   type: string
                   description: Consignor’s address
                   example: Room no -011 Block c Gaims campus.
                 consignorGst:
                   type: string
                   description: Consignor Gst
                   example: URP
                 consignorName:
                   type: string
                   description: Consignor Name
                   example: I am seller
                 consignorPin:
                   type: integer
                   description: Consignee Pin
                   example: 400059
                 shipToState:
                   type: string
                   description: Ship to state
                   example: MAHARASHTRA
                 hsnCode:
                   type: string
                   description: Hsn code of item
                   example: 9109
                 invoiceNo:
                   type: string
                   description: Invoice number
                   example: 548670385226
                 invoiceVal:
                   type: integer
                   description: Invoice value of product
                   example: 60000
  GenerateEWBNsResponse:
    title: Generate EWBNs' response
    type: object
    properties:
      request_id:
        type: string
        description: Step function req-id 
        example: 981c84c6-a789-49ff-83bd-9626f70bbed5
      success:
        type: boolean
        description: Success status
        example: true
      message:
        type: string
        description: Request status
        example: Request is being processed
      ewaybill:
        type: string
        description: Generated e-waybill number 
        example: 131001708724
  GenerateEWBNsErrorResponse:
    title: Generate EWBNs' error response
    type: object
    properties:
      request_id:
        type: string
        description: Request id of step functions
        example: 981c84c6-a789-49ff-83bd-9626f70bbed5
      success:
        type: boolean
        description: Success status
        example: false
      message:
        type: string
        description: Message from Api
  ValidateEWBNs:
    title: Validate EWBNs' payload
    type: object
    description: This API validates  E-waybills. FIrst, we send a request to the Govt. for validation.If Govt. API fails to respond or there is some error returned by Govt. API then we redirect our request to *GSP.
    properties:
      sync:
        type: boolean
        description: sync/async API
        example: false
      src:
        type: string
        description: Source 
        example: HQ
      trp_id:
        type: string
        description: Transporter Id to be used for e-waybill action
        example: 09AAHCD72912 
      ewb_sp:
        type: string
        description: Directly Hit Govt  E-waybill APIs or from UI APIs
        example: GOVT/GSP
      callback_url:
        type: string
        description: HTTPS callback url
        example: https://dummyurl.com/dev/home
      ewbns:
        type: array
        description: Contains ewbs for validations
        example: "ewbn: '131001708724'"  
        items:
          type: object
          properties:
            ewbn:
              type: string
              description: E-waybill no
              example: 131001708724
  ValidateEWBNsResponse:
    title: Valdate EWBNs' response
    type: object
    properties:
      request_id:
        type: string
        description: Unique Request id 
        example: dabf2b5f-4dc0-4eba-bf53-e2767d7eb2d9
      success:
        type: boolean
        description: Success status
        example: true 
      data:
        type: object
        description: Validated data for ewaybills
        properties:
          ewaybills:
            type: array
            description: Contains data corresponding to the ewbns provided
            items:
              type: object
              properties:
                dcn:
                  type: string
                  description: Document no.
                  example: 548670385214 
                status:
                  type: string
                  description: Status of ewaybill
                  example: ACTIVE 
                invoice_val:
                  type: integer
                  description: Invoice Value
                  example: 520001
                consigneeName:
                  type: string
                  description: Consignee name
                  example: viresh 
                is_return:
                  type: string
                  description: Is ewb of return type
                  example: 0 
                expiry:
                  type: string
                  description: Expiry date of ewb, if set
                  example: null
                hsn_code:
                  type: string
                  description: Hsn code
                  example: 9105
                tl:
                  type: string
                  description: Transhipment Location
                  example: Room no -011 Block c Gaims    campus Gk
                valid: 
                  type: boolean
                  description: Validity status of ewb
                  example: true
                ewbn:
                  type: string
                  description: E-waybill no
                  example: 131001708724 
                consignorGst:
                  type: string
                  description: Consignor GST no 
                  example: URP 
                cancelled:
                  type: boolean
                  description: Ewaybill is cancelled or not
                  example: false
                consigneeGst:
                  type: string
                  description: Consignee GST 
                  example: URP 
                transporterId:
                  type: string
                  description: Transporter ID 
                  example: 29AAPCS9575E1ZJ
                st:
                  type: string
                  description: State code 
                  example: DL 
                error_code:
                  type: string
                  description: Error details 
                  example: 1007
                consigneePin:
                  type: string
                  description: Consignee Pin 
                  example: consigneePin
  ValidateEWBNsErrorResponse:
    title: Validate EWBNs' error response
    type: object
    properties:
      request_id:
        type: string
        description: Step function req-id 
        example: dabf2b5f-4dc0-4eba-bf53-e2767d7eb2d9 
      success:
        type: boolean
        description: Success status 
        example: true 
      message:
        type: string  
        description: Message from API 
        example: Request is being processed
  VehicleUpdateEWBNs:
    title: Vehicle update payload
    type: object
    description: This API is used to update vehicle details to the E-waybill. First, it  validates the E-waybill, and if it is a valid E-waybill then the details of the vehicle are updated against the E-waybill 

    properties:
      sync:
        type: boolean
        description: sync/async API  
        example: false
      src:
        type: string
        description: Source 
        example: LM
      callback_url:
        type: string
        description: HTTPS callback url
        example: http://odx-fm-bk-stage.delhivery.com/packages/ewaybill_update/wbns/5265111089704/
      awb:
        type: string
        description: AWB no. 
        example: 1277316509156 
      data:
        type: object
        description: data to be updated 
        properties:
          consolidate:
            type: boolean
            description: Generate consolidated Ewaybill 
            example: false 
          ewaybillNos:
            type: array
            description: Ewbn numbers 
            items:
              type: string
          modeOfTransport:
            type: string
            description: Mode of Transport
            example: ROAD
          state:
            type: string
            description: State
            example: HR 
          transhipmentLocation:
            type: string
            description: Transhipment Location 
            example: Gurgaon 
          updateReason:
            type: string
            description: Update Reason 
            example: TRANSHIPMENT 
          vehicleNo:
            type: string
            description: Vehicle No. 
            example: RJ14CJ2737 
          masterAwb:
            type: string
            description: Master Package, if any
          
  VehicleUpdateEWBNsResponse:
    title: Vehicle update response
    type: object
    properties:
      src:
        type: string
        description: source 
        example: LM
      message:
       type: string
       description: Message from API 
       example: Request has been processed 
      request_id:
        type: string
        description: step function request-id 
        example: 432c7554-522a-4b46-8b22-9da27f253dcb 
      success:
        type: boolean
        description: Success status 
        example: true 
      save:
        type: boolean
        example: true
      awb:
        type: string
        description: Package AWB. no.
        example: 3797513861992 
      data:
        type: object
        description: Contains updation response data
        properties:
          ewaybills:
            type: array
            description: List of ewbns
            example: 201195533748
            items:
              type: string

          success_count:
            type: integer
            description: Success count
            example: 1 
          vehicle_id:
            type: string
            description: Vehicle Id 
            example: MH14CS9977 
          error_dict:
            type: object
            description: Contains error, if any 
          update_dict:
            type: object
            description: Contains ewb-expiry mapping.
            example: "'171001675628': '2020-06-06'" 
  VehicleUpdateEWBNsErrorResponse:
    title: Vehicle update error response
    type: object

    properties:
      request_id:
        type: string
        description: step function request-id
        example: 432c7554-522a-4b46-8b22-9da27f253dcb 
      success:
        type: boolean
        description: Success status 
        example: false
      message:
        type: string
        description: Message from API 
  
  UpdateEWBNs:
    title: Single Bulk update payload
    type: object
    description: This API updates E-waybill on packages. We have to pass the dcns(document numbers) against which we have to update the E-waybills.
    properties:
      is_bulk:
        type: boolean
        description: Specifies bulk action 
        example: false
      callback_url:
        type: string
        description: HTTPS callback_url
        example: https://staging-express.delhivery.com/api/p/save_bulk_response 
      save_invalid:
        type: boolean
        description: Specifies whether to save or not invalid ewbns info. 
        example: true 
      data:
        type: array
        description: Contains data of wbns and corresponding e-waybills and dcns to be updated
       
        items:
          type: object
          properties:
            wbn:
              type: string
              description: Package AWB no. 
              example: 5265111087840 
            wbn_info:
              type: array
              description: contains ewbn and dcn 
              example: "ewbn: '111001708757',dcn: mydcnisyo009"
                        
              items:
                type: object
                properties:
                  ewbn:
                    type: string
                    description: Ewbn no. 
                    example: 111001708757
                  dcn:
                    type: string
                    description: Document no.
                    example: mydcnisyo009 

  UpdateEWBNsErrorResponse:
    title: Single Bulk update Error response
    type: object
    properties:
      message:
        type: string
        description: Message from API
      
      success:
        type: boolean
        description: Success status 
        example: false
  
  UpdateEWBNsResponse:
    title: Single Bulk update response
    type: object
    properties:
      message:
        type: string
        description: Message from API
        example: Successfully Updated! 
      success:
        type: boolean     
        description: Success status 
        example: true
      
  BulkVehicleUpdateEWBNs:
    title: Bulk Vehicle update payload
    type: object

    properties:
      src:
        type: string
        description: source
        example: LH 
      callback_url:
        type: string
        description: HTTPS callback url 
        example: https://thanos-dev-bk.delhivery.com/v1/trip-1234/BAG12345
      consolidate:
        type: boolean
        description: Generate consolidated Ewaybill 
        example: false
      data:
        type: array
        description: data needed 
        items: 
          type: object
          properties:
            awb:
              type: string
              description: AWB no.
              example: 1277316509156 
            ewaybillNos:
              type: array
              description: Ewbn numbers 
           
              items:
                type: string
              
      modeOfTransport:
        type: string
        description: Mode of Transport
        example: ROAD 
      state:
        type: string
        description: State abbreviation 
        example: HR
      transhipmentLocation:
        type: string
        description: Transhipment location 
        example: gurgaon 
      updateReason:
        type: string
        description: update reason 
        example: TRANSHIPMENT 
      vehicleNo:
        type: string
        description: Vehicle No 
        example: MH14CS9977 
      masterAwb:
        type: string
        description: Master Package, if any 
    
          
  BulkVehicleUpdateEWBNsResponse:
    title: Vehicle update response
    type: object
    properties:
      success:
        type: boolean
        description: Success status 
        example: true
      message:
        type: string
        description: Message from API 
        example: Successfully Updated!
      request_id:
        type: string
        description: Unique request id
        example: 3ad7588a-ac1f-4c51-ab8b-5333f60fedcd 
      data:
        type: array
        description: Contains updation response data  
        
        items:
          type: object
          
          properties:
            awb:
              type: string
              description: Package AWB. no. 
              example: 3797513861992
            data:
              type: object
              properties:
                ewaybillNos:
                  type: array
                  description: List of ewbns 
                  example: '201195533748' 
                  items:
                    type: string
                success_count:
                  type: integer
                  description: Count of successful updates 
                  example: 1 
                vehicle_id:
                  type: string
                  description: Vehicle id 
                  example: AS01LC2901
                error_dict:
                  type: object
                  description: Contains errors, if any  
                  example: "'121001708776': INVALID_EWAYBILL"
                update_dict:
                  type: object
                  description: Contains ewb-expiry mapping 
                  example: "'201195533748': '2020-06-06'"

  BulkVehicleUpdateEWBNsErrorResponse:
    title: Vehicle update error response
    type: object
    properties:
      request_id:
        type: string
        description: Unique request id 
        example: 3ad7588a-ac1f-4c51-ab8b-5333f60fedcd 
      success:
        type: boolean
        enum: [false]
        description: Success status 
       
      message:
        type: string
        example: Request is being processed 
  
  UpdateTransporterIdEWBNs:
    title: Update TransporterId EWBNs' payload
    type: object
    properties:
      trp_id:
        type: string
        description: TransporterId to be used for e-waybill actions.
        example: 09BBFCE7497E9ZJ
      ewb_sp:
        type: string
        description: Use GOVT for directly using govt APIs GSP for external APIs.
        example: GOVT
      data:
        type: object
        properties:
          ewbns:
            type: array
            description: list of ewaybills
            example: ["5265111087906"]
            items: 
              type: string
          transin:
            type: string 
            description: TransporterId to assign ewaybill to.
            example: 09AAHCD72912
  UpdateTransporterIdEWBNsResponse:
    title: Update TransporterId EWBNs' response
    type: object
    properties:
      success_ewaybills:
        type: array
        description: list of successfully updated ewaybills
        items: 
          type: string
      failed_ewaybills:
        type: array
        description: list of unsuccesful transporterId updation on ewaybills
        items: 
          type: string
  UpdateTransporterIdEWBNsErrorResponse:
    type: object
    properties:
      message:
        type: string  
        
  ExtendEWBNs:
    title: Expiry extension payload
    type: object
    properties:
      src:
        type: string
        description: Source Name
        example: HQ
      trp_id:
        type: string
        description: TransporterId to be used for e-waybill actions.
        example: 09BBFCE7497E9ZJ
      ewb_sp:
        type: string
        description: Use GOVT for directly using govt APIs GSP for external APIs.
        example: GOVT
      callback_url:
        type: string
        description: Callback url receive asyn response.
        example: http://ewaybill.api.com/response/1
      data:
        type: array
        items:
          type: object
          properties:
            ewbNo:
              type: string
              description: Ewaybill Number
              example: 546768986543
            id:
              type: string
              description: Source Id
              example: ORION_123
            fromPlace:
              type: string
              description: From place of shipment.
              example: Delhi
            fromPincode:
              type: string
              description: From pincode of the shipment.
              example: 110025
            remainingDistance:
              type: integer
              description: Distance remaining.
              example: 3
            extnRsnCode:
              type: integer
              description: Reason code for e-waybill expiry extension.
              example: 1
            extnRemarks:
              type: string
              description: Remarks for e-waybill expiry extension.
              example: TRANSHIPMENT
            currentStatus:
              type: string
              description: Whether shipment in Transit or in Warehouse
              example: WAREHOUSE
            wareHousePlace1:
              type: string
              description: Address of warehouse in case currentStatus is Warehouse
              example: Hajiganj, Patna City
            wareHousePlace2:
              description: Address of warehouse in case currentStatus is Warehouse
              example: Patna
              type: string
            wareHousePlace3:
              type: string
              description: Address of warehouse in case currentStatus is Warehouse
              example: Bihar
            
              
  ExtendEWBNsResponse:
    title: Extend Expiry response
    type: object
    properties:
      src:
        type: string
      request_id:
        type: string
        description: Unique request id
        example: a2cacf42-37bf-49de-bdde-c077a1c2bdde
      success:
        type: boolean
        example: true
      ewbn_errors:
        type: object
        description: errors occurred on e-waybill extension.
      extendStatus:
        type: object
        description: ewaybill extension succeeded or not
        example: 
          401115579986: true
      resp_dict:
        type: object
        description: Object representing 'ewaybill_No={validTill= 2020-06-10,ewaybill= 401115579986 }'
        
  ExtendEWBNsErrorResponse:
    title: Extend Expiry error response
    type: object
    properties:
      request_id:
        type: string
      success:
        type: boolean
      message:
        type: string
